@CHARSET "UTF-8";

.Wrap{
	margin:0 auto;
	padding-top: 1px;
	BACKGROUND-IMAGE: url(../../img/navigation.jpg);
	background-position:80% 18%;
	WIDTH: 972px;
	HEIGHT: 110px;
}
.Menu{
height:30px;
margin-top:90px;
background-color: green;
}
.Menu ul{
width:972px;/*设置元素宽度为972px*/
}
.Menu ul li{
list-style-type:none;
float:left;/*让li元素左浮动*/
}
.Menu ul li a{
width:80px;/*设置元素宽为80px*/
height:30px;/*设置高度为30px*/
line-height:28px;/*设置行距为28px，让文字在每行的中间位置*/
background-image:url(../img/topitembg.gif);/*设置元素的背景为红色*/
color:#FFF;/*文字颜色是白色*/
margin:0px 35px;
font-size:12px;/*用12号字*/
display:block;/*这个比较关键，因为a本身就是联级元素，本身不具有宽高，用这个把它变成块级元素，这样前面设置的宽和高就能起作用了*/
text-align:center;/*让文本居中*/
text-decoration:none; /*去掉下划线*/
}
.Menu ul li a:hover{ /*这个大概的意思就是当鼠标放到这个a元素的上面时，这个a元素的样式就按下面的代码执行*/
width:80px;
height:30px;
line-height:30px;
border:1px solid red;
color:red;
background:#FFF;
}